/**
    Adaptive color scheme
*/

* {
    background-color: ${COLOR[background]};
    text-color:       ${COLOR[foreground]};

    background-selected: ${COLOR[2]};
    text-selected:       ${COLOR[foreground]};

    text-prompt:    ${COLOR[4]};
    text-entry:     ${COLOR[4]};
    border-color:   ${COLOR[2]};
}
