
@import "colors.css";


tab label {
    color: @color8;
}

tab:checked label {
    color: @color_foreground;
    font-weight: 500;
}

tab:checked {
	box-shadow: inset 0 -2px @color_background_selected;
}

VteTerminal, vte-terminal {
    padding: 8px;
}

#xfce4-terminal-notebook tab:checked {
	box-shadow: inset 0 2px @color_background_selected;
}
