/* CSS variables */

:root {
    --wallpaper: url("${WALLPAPER}");

    /* Special */
    --background: ${COLOR[background]};
    --foreground: ${COLOR[foreground]};
    --cursor: ${COLOR[cursor]};

    /* Colors */
    --color0: ${COLOR[0]};
    --color1: ${COLOR[1]};
    --color2: ${COLOR[2]};
    --color3: ${COLOR[3]};
    --color4: ${COLOR[4]};
    --color5: ${COLOR[5]};
    --color6: ${COLOR[6]};
    --color7: ${COLOR[7]};
    --color8: ${COLOR[8]};
    --color9: ${COLOR[9]};
    --color10: ${COLOR[10]};
    --color11: ${COLOR[11]};
    --color12: ${COLOR[12]};
    --color13: ${COLOR[13]};
    --color14: ${COLOR[14]};
    --color15: ${COLOR[15]};
}
